$clr-black: #0b0d17;
$clr-light-gray: #d0d6f9;
$clr-white: #ffffff;


$ff-barlow-condensed: 'Barlow Condensed', sans-serif;
$ff-bellefair: 'Bellefair', serif;

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

